button {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/*
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
*/

body {
    padding: 0;
    margin: 0;

}


/* Main banner */
.mainbanner {
    padding: 50px;
    background-image: url(./main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.mainbanner .content {
    background-color: black;
    opacity: 70%;
}

.heading2 {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 40px;
    background-image: none;
    background-color: transparent;
    padding-top: 30px;
    font-weight: bold;
}

h1 {
    padding-bottom: 10px;
}

.paragraph2 {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: large;
}

#button {
    height: 80px;
    width: 270px;
    font-weight: bold;
    background-color: #C78B07;
    font-size: large;
    border: none;
    font-weight: bold;
}

.button {
    padding: 20px;
    padding-bottom: 50px;
}




/* about us */


.Aboutus {
    background-color: #FFE6AC;
}

.Aboutus .container1 {
    width: 50%;
    padding-top: 60px;
    padding: 60px 0;
    padding-right: 0;
    margin-right: 0;
    display: inline-block;
    text-align: right;
}

.Aboutus .container1 #img {
    height: 400px;
    width: 90%;
    padding-right: 0;
    margin-right: 0;
}

.Aboutus .container2 {
    margin-top: 0;
    width: 40%;
    text-align: left;
    align-self: top;
    height: 100%;
    padding-top: 25px;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    /* Aligning to the top */
}

.Aboutus .container2 h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-image: none;
    background-color: transparent;
    padding-top: 30px;
    font-weight: bold;
}

/* Services */
.servicesContainer {
    width: 80%;
    padding-top: 40px;
    margin: auto;
}

.servicesContainer h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-image: none;
    background-color: transparent;
    font-weight: bold;
    padding-left: 10px;
    margin-left: 10px;
}


.servicesList div {
    background-color: #FFE6AC;
    color: black;
}

.servicesList div img {
    width: 100%;
    margin-bottom: 20px;
    height: 200px;
}

.servicesList div h1 {
    padding: 0;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
}

.servicesList div p {
    text-align: left;
    margin-left: 10px;
    justify-content: center;
}

.servicesList div button {
    background-color: black;
    margin: 10px;
    width: 90%;
    height: 50px;
    margin-bottom: 0;
    color: white;
    font-size: 20px;
    margin-top: 40px;
}


.servicesList {
    display: flex;
    flex-wrap: wrap;
}

.servicesList>div {
    flex: 0 0 calc(50% - 40px);
    /* Two items per row, leaving space for margins */
    /* Adjust height as needed */
    margin: 20px;
    height: 500px;
    /* Margin between items */
}

.servicesList>div:nth-child(n + 3) {
    flex-basis: calc(33.33% - 30px);
    margin: 15px;
    height: 540px;
    /* Three items per row starting from the third item */
}



/*  market
/*  Our vision */
.Vision {
    background-image: url(vision.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    padding: 20px 100px;
    background-size: cover;
}

.Vision button {
    font-size: 25px;
    background-color: inherit;
}

.heading6 {
    padding: 20px;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 50px;
}

.paragraph4 {
    padding: 20px;
    font-size: large;
    color: white;
}

#button3 {
    height: 80px;
    width: 270px;
    background-color: rgb(40, 40, 69);
    color: white;
    border: 3px solid #C78B07;
}

.button3 {
    padding: 20px;
}

/* Our team */



/* Our team */
.ourTeam {
    width: 80%;
    padding-top: 40px;
    margin: auto;
}

.ourTeam .john img,
.ourTeam .bob img {
    width: 50%;
    float: left;
    /* Aligns the first image to the left */
}

.ourTeam .bob img {
    float: right;
    /* Aligns the second image to the right */
}

.ourTeam .john,
.ourTeam .bob {
    width: 100%;
    color: black;
    overflow: hidden;
    /* Clear floats */
}


.ourTeam .john .content,
.ourTeam .bob .content {
    padding-top: 20px;
    padding: 20px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.ourTeam .john .content h1,
.ourTeam .bob .content h1 {
    font-size: 40px;
}

.ourTeam .john .content .position,
.ourTeam .bob .content .position {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.border {
    border-top: 2px solid #C78B07;
    margin-bottom: 20px;
}

/*  */

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.hourOfOperation {
    margin: 100px auto;
    width: 70%;
    padding: 0 30px;
}

.hourOfOperation table {
    border-collapse: collapse;
    width: 100%;
}


.hourOfOperation table tr th {
    background-color: #FFE6AC;
}

.footer {
    background-color: black;
    color: #C78B07;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 70px;
}

.footer p {
    margin-top: 20px;
}

.footer p a {
    text-decoration: none;
    color: #C78B07;
    text-decoration: underline;
    font-size: 20px;
}



/* Navbar */


a {
    text-decoration: none;
}

.navbar {
    background-color: black;
    height: 100px;
    width: 100%;
}

.nav {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    color: white;
}

.logo img {
    height: 70px;
    width: 70px;
    padding-top: 10px;
    padding-right: 40px;
}

.navitems ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.navitems ul li a {
    padding: 20px;
    color: #C78B07;
    cursor: pointer;

}


.navitems {
    font-size: large;
    width: 70%;
}

.navitems li a:hover {
    background-color: #C78B07;
    color: black;
}

.navsearch {
    align-items: center;
    padding-bottom: 20px;
    margin-top: 25px;
}

input {
    height: 30px;
    padding-left: 10px;
}

.Searchlogo {
    color: #C78B07;
}

.search {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchIcon {
    border: 1px solid #C78B07;
    padding: 6px;
    position: absolute;
}



/* Contact US */

.mainhead {
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
}


.Contact {
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.message {
    width: 50%;
}

.head {
    padding-bottom: 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.con {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Arial, sans-serif;
}

#name {
    width: 450px;
}

#email {
    width: 450px;
}

#msg {
    width: 450px;
    height: 200px;
}

.place {
    padding-bottom: 20px;
}

.butttonn {
    padding-top: 20px;
}

#buttonn {
    padding: 10px;
    background-color: black;
    color: #C78B07;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

#buttonn:hover {
    background-color: rgb(50, 49, 49);
}

.message {
    width: 50%;
}

.location {
    width: 50%;
}

#mapImg {
    width: 100%;
    margin-top: 15px;
    height: 420px;
}





/* Responsive ness */
@media (max-width: 870px) {
    .servicesList>div:nth-child(n + 3) {
        flex-basis: calc(50% - 10px);
        /* Two items per row for smaller screens */
    }

    .Aboutus {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .Aboutus .container1,
    .Aboutus .container2 {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .Aboutus .container1 {
        text-align: center;
    }

    .Aboutus .container2 {
        padding: 0 50px;
    }

    .Aboutus .container1 img {
        width: 100%;
    }


    .servicesContainer {
        width: 100%;
    }

    .servicesList {
        flex-direction: column;
    }

    .servicesList div {
        text-align: center;
        text-align: left;
    }

    .servicesList div button {
        width: 40%;
    }

    .servicesList div img {
        height: 300px;
    }

    .Vision {
        padding: 20px 30px;
    }

    .heading6 {
        padding-top: 20px;
    }

    .ourTeam .john,
    .ourTeam .bob {
        background-color: #FFE6AC;
    }

    .ourTeam {
        width: 100%;
        padding: 0 20px;
    }

    .ourTeam .john {
        margin-bottom: 20px;
    }

    .ourTeam .john img,
    .ourTeam .bob img {
        float: none;
        /* Remove the float to stack the images and content vertically */
        width: 100%;
        /* Set the width to 100% to make images responsive */
        /* Add some space between image and content */
    }

    .ourTeam .john .content,
    .ourTeam .bob .content {
        width: 100%;
        /* Set the width of content to 100% */
    }

    .Contact {
        flex-direction: column;
        width: 100%;
    }

    .message,
    .location {
        width: 100%;
        /* Make both sections full width on small screens */
    }

    #mapImg {
        height: 300px;
        width: 90%;
        /* Reduce the height of the map image for better display on small screens */
    }

    .location .head h2 {
        margin: 0;
        margin-top: 20px;
        margin-left: 5%;
        padding: 0;
    }

    .hourOfOperation {
        width: 100%;
    }

    #mapImg {
        width: 90%;
        margin-left: 5%;
    }

    .message {
        width: 90%;
        margin: auto;
    }

    .navbar {
        height: auto;
        padding: 0;
        margin: 0;
    }


    .nav {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .navitems {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navitems ul {
        flex-direction: column;
        width: 100%;
    }

    .navitems ul li {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .navitems ul li:hover {
        background-color: #C78B07;
    }

    .navitems ul li:hover a {
        color: black;
    }

    .logo img {
        position: absolute;
        left: 20px;
    }

    .navsearch {
        display: none;
    }
}